::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  height: 100vh !important;
  /* position: relative; */
  font-family: 'Nunito', sans-serif;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1713%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1714%26quot%3b)'%3e%3c/rect%3e%3cpath d='M 0%2c175 C 57.6%2c154.2 172.8%2c67.8 288%2c71 C 403.2%2c74.2 460.8%2c186.8 576%2c191 C 691.2%2c195.2 748.8%2c84.4 864%2c92 C 979.2%2c99.6 1036.8%2c229.6 1152%2c229 C 1267.2%2c228.4 1382.4%2c117 1440%2c89L1440 560L0 560z' fill='rgba(37%2c 109%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c465 C 96%2c430.8 288%2c289.8 480%2c294 C 672%2c298.2 768%2c478.2 960%2c486 C 1152%2c493.8 1344%2c363.6 1440%2c333L1440 560L0 560z' fill='rgba(64%2c 137%2c 217%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1713'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1714'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(5%2c 138%2c 223%2c 0.88)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  /* position: relative; */
  overflow-x: hidden;
  height: 100vh;
}

h1,
p,
h2,
h4 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700 !important;
}

/* Loader Starts */
.loader-div {
  background: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 15deg, #0000, #000);
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%,
      #f03355 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
      #f03355 96%, #0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn)
  }
}

/* Loader Ends */

.navbar-brand {
  color: #fff !important;
}


button,
a {
  font-weight: 700 !important;
}

.form-label {
  margin-bottom: 0;
  font-weight: 600;
}

.login {
  width: 350px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.578);
  backdrop-filter: blur(4.3px);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Select2 Starts */

.select2 {
  width: 100% !important;
}

.select2-selection {
  height: 37.52px !important;
  display: flex !important;
  align-items: center;
}

.select2-selection__arrow {
  top: auto !important;
  right: 8px !important;
}

.select2-selection__rendered {
  padding-left: 12px !important;
}

/* Select2 Ends */

.tclick {
  cursor: pointer;
}