<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

{% extends 'base.html' %}
{% block body %}
<h3><small style="padding-left:30px" class="navbar navbar-light bg-light text-muted">Parameter Definition</small></h3>
<form action={% url 'add_parameters' %} method='POST' autocomplete="off" class="row g-3 m-3">
  {% csrf_token %}
  {% comment %} <div class="form-group">
    <label for="ptype">Parameter Type</label>
    <input type="text" class="form-control" name="ptype" placeholder="Nature">
  </div> {% endcomment %}
  <div class="form-group">
    <label for="ptype">Parameter Type</label>
    <select name="ptype" class="form-select" required>
      <option selected disabled="true" style="color:#495057;">Parameter Type</option>
      {% for data in param_types %}
      <option>{{data}}</option>
      {% endfor %}
    </select>
    {% if messages %}
    {% for msg in messages %}
    <b class="mt-1" style="color: red;">{{msg}}</b>
    {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    <label for="pcode">Parameter Code</label>
    <input required type="text" class="form-control" name="pcode" placeholder="DER">
  </div>

  <div class="form-group">
    <label for="pdesc">Parameter Description</label>
    <input required type="text" class="form-control" name="pdesc" placeholder="Derived">
  </div>
  <div class="form-check ml-2">
    <input required class="form-check-input" type="checkbox" value="True" name="pactivity" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Activity Status
    </label>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

<div class="row class=navbar navbar-light bg-light m-3">
  <h2 class='col-8'>

    <small style="" class=" navbar navbar-light bg-light text-muted">
      Existing Paramters

    </small>
  </h2>
  <div class=" form-floating btn-group col-3">
    <input id="myInput" class="form-control" type="text" placeholder="Search" aria-label="Search">
    <label style="margin-left:14px;" for="floatingInput">Search</label>
  </div>
</div>

<table id="myTable" class="table" style="width:90%; margin:auto">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Code</th>
      <th scope="col">Description</th>
      <th scope="col">Activity Status</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for parameter in parameters %}
    <tr>
      <td scope="row">{{parameter.pType}}</td>
      <td>{{parameter.pCode}}</td>
      <td>{{parameter.pDesc}}</td>
      <td>{{parameter.pActivity}}</td>
      <td><form action="{% url 'del_parameter' parameter.id %}" method="POST" class=" d-inline">
          {% csrf_token %}
          <button class="btn" type="submit"><i class="fa fa-trash text-danger float-right"></i></button>
        </form>
      </td>

      </tr>
      </tr>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  function del_alert() {
    alert("Are you sure?")
  }
  // Table Search Starts
  $("#myInput").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#myTable tbody tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
    // Table Search Ends
</script>



{% endblock body %}