{% extends 'base.html' %}
{% block body %}
<style>
  .pw {
    -webkit-text-security: disc;
  }
</style>

<div class="container">

  <h2 class="mt-3">MANAGE USERS</h2>


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add New User
  </button>

  <!-- Add New User Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Add New User</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action={% url 'add_user' %} method='POST'>
            {% csrf_token %}
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input id="username" required type="text" class="form-control" name="username"
                placeholder="Enter Username" autocomplete="on" />
            </div>
            <div class="form-group mt-2">
              <label class="form-label" for="password">Password</label>
              <input id="password" required type="password" class="form-control" name="password" placeholder="Password"
                autocomplete="on" />
            </div>
            <div class="form-group mt-2">
              <label class="form-label" for="role">Role</label>
              <select required name="role" class="form-select" id="role" autocomplete="off">
                <option>User</option>
                <option>Admin</option>
              </select>
            </div>
            <div class="form-group mt-2 mb-4">
              <label class="form-label" for="cname-modal">Country</label>
              <select name="country" class="form-control mb-3" id="cname-modal" autocomplete="off">
                {% for c in country %}
                <option>{{c}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="center">
              <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ms-4 rounded-pill">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <input style="height: 40px;" class="form-control mt-3" type="text" placeholder="Search" aria-label="Search"
    id="myInput">

  <h4 class="mt-3 text-start">
    EXISTING USERS
  </h4>

  <table class="table table-hover text-center table-light table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">S.NO</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Country</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th>{{forloop.counter}}</th>
        <td>{{user.Username}}</td>
        <td>{{user.Role}}</td>
        <td>{{user.CountryCode}}</td>
        </td>
        <td>
          <form method="POST" id="deleteForm_{{ user.id }}" class="d-inline">
            {% csrf_token %}
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
              data-user-id="{{ user.id }}">
              <i class="fa fa-trash text-danger float-right"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Delete Confirmation Modal Starts -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Confirmation Modal Ends -->
{% endblock body %}